title: Basics of Markdown
tagline: Get Started with Markdown
description: A basic introduction to writing richly formatted text documents using Markdown.

# Repository setup
# The following section template information for the repository
# This will be used when the repository is crated for each individual learner

template:
  name:     basics-of-markdown
  repo:     template-repository

# `before` block
# Actions to take place after the learner registers, but before they start interacting with their repo

before:
- type: respond
  with: 01_first-response.md

# Steps for the course
# A list of steps that take the learner through the course
# Create one step for each action that a learner will complete

steps:
# Step 1: EDIT HERE - INTERNAL COMMENT DESCRIBING STEP 
- title: Headings
  description: Learn how to create headings in Markdown.
  event: issue_commented.created
  actions: # a list of the actions that will occur when the step is triggered by an event
  - type: gate
    left: '%payload.pull_request.title%'
    operator: ===
    right: master
    else: 
      - type: respond
        with: 01_nice-work.md
  - type: respond
    with: 01_nice-work.md
    
# Step 2: EDIT HERE -INTERNAL COMMENT FOR STEP 2
- title: Emphasis
  description: Learn how to emphasize words in Markdown.
  event: issue_commented.created
  actions: # a list of the actions that will occur when the step is triggered by an event
  - type: gate
    left: '%payload.pull_request.title%'
    operator: ===
    right: master
    else: 
      - type: respond
        with: 01_nice-work.md
  - type: respond
    with: 01_nice-work.md

# Step 3: EDIT HERE - INTERNAL COMMENT FOR STEP 3
- title: Lists
  description: Learn how to create lists in Markdown.
  event: issue_commented.created
  actions: # a list of the actions that will occur when the step is triggered by an event
  - type: gate
    left: '%payload.pull_request.title%'
    operator: ===
    right: master
    else: 
      - type: respond
        with: 01_nice-work.md
  - type: respond
    with: 01_nice-work.md

# Step 4: EDIT HERE - INTERNAL COMMENT FOR STEP 4
- title: Images and Hyperilinks
  description: Learn how to insert images and hyperlinks in Markdown.
  event: issue_commented.created
  actions: # a list of the actions that will occur when the step is triggered by an event
  - type: gate
    left: '%payload.pull_request.title%'
    operator: ===
    right: master
    else: 
      - type: respond
        with: 01_nice-work.md
  - type: respond
    with: 01_nice-work.md
    
# Step 5: EDIT HERE - INTERNAL COMMENT FOR STEP 5
- title: Tables
  description: Learn how to create tables in Markdown.
  event: issue_commented.created
  actions: # a list of the actions that will occur when the step is triggered by an event
  - type: gate
    left: '%payload.pull_request.title%'
    operator: ===
    right: master
    else: 
      - type: respond
        with: 01_nice-work.md
  - type: respond
    with: 01_nice-work.md
